[Desktop Entry]
Encoding=UTF-8
Name=Megcoin
Comment=Megcoin P2P Cryptocurrency
Comment[fr]=Megcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Megcoin, eşten eşe kriptografik sanal para birimi
Exec=megcoin-qt %u
Terminal=false
Type=Application
Icon=megcoin128
MimeType=x-scheme-handler/megcoin;
Categories=Office;Finance;
