#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_megcoin
#build/megcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_megcoin)

DEB_INSTALL_EXAMPLES_megcoind += debian/examples/*
DEB_INSTALL_MANPAGES_megcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix megcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f megcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake megcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_megcoin
	src/test_megcoin

# Ensure wrapper is set executable
binary-post-install/megcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/megcoind
binary-post-install/megcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/megcoin-qt
